<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->	
{sn:global_html-header}
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">loading</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">

        <div class="content-center fixed-header-margin">
            <!-- HEADER -->
            {sn:global_header}

            <div class="content-push">

                <div class="breadcrumb-box">
                    {exp:structure:breadcrumb here_as_title="yes"}
                </div>
            <div class="information-blocks">
                    <div class="row">
                        <div class="col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
                            <div class="page-selector">
                                <div class="shop-grid-controls">
                                    <div class="entry">
                                        <div class="inline-text">Sorty by</div>
                                        <div class="simple-drop-down">
                                            <select>
                                                <option>Position</option>
                                                <option>Price</option>
                                                <option>Category</option>
                                                <option>Rating</option>
                                                <option>Color</option>
                                            </select>
                                        </div>
                                        <div class="sort-button"></div>
                                    </div>
                                    <div class="entry">
                                        <div class="view-button active grid"><i class="fa fa-th"></i></div>
                                        <div class="view-button list"><i class="fa fa-list"></i></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="row shop-grid grid-view">
                    {exp:channel:entries channel="products_manual" dynamic="no"}
                    <div class="col-md-3 col-sm-4 shop-grid-item">
                                    <div class="product-slide-entry shift-image">
                                        <div class="product-image">
                                            {product_thumbnails}
                                                <img src="{product_thumbnails:image}" alt="{title}" />
                                            {/product_thumbnails}
                                            <div class="bottom-line left-attached">
                                                <a class="bottom-line-a square" href="{page_url}"><i class="fa fa-expand"></i></a>
                                            </div>
                                        </div>
                        
                                        <a class="title" href="{site_url}/products">{title}</a>
                                    
                                        <div class="article-container style-1">
                                            {product_description}
                                        </div>
                                        <div class="price">
                                            <!--<div class="prev">$199,99</div>-->
                                            from <div class="current">{price}</div>
                                        </div>
                                        <div class="list-buttons">
                                            {exp:cartthrob:add_to_cart_form entry_id="{entry_id}" on_the_fly="y" allow_user_price="yes" return="/cart"}
                                            <input class="button style-10" type="submit" value="Add to Cart">
                                            {/exp:cartthrob:add_to_cart_form}
                                    
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                            {/exp:channel:entries}
                            </div>

                          
                            <div class="page-selector">
                                <div class="description">Showing: 1-3 of 16</div>
                                <div class="pages-box">
                                    <a href="#" class="square-button active">1</a>
                                    <a href="#" class="square-button">2</a>
                                    <a href="#" class="square-button">3</a>
                                    <div class="divider">...</div>
                                    <a href="#" class="square-button"><i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8 blog-sidebar">
                             <div class="information-blocks categories-border-wrapper">
                                <div class="block-title size-3">Filters</div>
                                <div class="accordeon">
                                    <div class="accordeon-title">Price</div>
                                    <div class="accordeon-entry">
                                        <div class="article-container style-1">
                                            <div class="information-blocks">
                                            <div class="block-title size-2">Sort by Price</div>
                                            <div class="range-wrapper">
                                                <div id="prices-range"></div>
                                                <div class="range-price">
                                                    Price: 
                                                    <div class="min-price"><b>&pound;<span>0</span></b></div>
                                                    <b>-</b>
                                                    <div class="max-price"><b>&pound;<span>200</span></b></div>
                                                </div>
                                                <a class="button style-14">filter</a>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="accordeon">
                                    <div class="accordeon-title">Color</div>
                                    <div class="accordeon-entry">
                                        <div class="article-container style-1">
                                            <div class="information-blocks">
                                            <div class="simple-drop-down" style="width: 100%">
                                            <select>
                                                <option>Color</option>
                                                
                                            </select>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="accordeon">
                                    <div class="accordeon-title">Opacity</div>
                                    <div class="accordeon-entry">
                                        <div class="article-container style-1">
                                            <div class="information-blocks">
                                            <div class="simple-drop-down" style="width: 100%">
                                            <select>
                                                <option>Opacity</option>
                                               
                                            </select>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="accordeon">
                                    <div class="accordeon-title">Style</div>
                                    <div class="accordeon-entry">
                                        <div class="article-container style-1">
                                            <div class="information-blocks">
                                            <div class="simple-drop-down" style="width: 100%">
                                            <select>
                                                <option>Style</option>
                                                
                                            </select>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="accordeon">
                                    <div class="accordeon-title">Special Features</div>
                                    <div class="accordeon-entry">
                                        <div class="article-container style-1">
                                            <div class="information-blocks">
                                            <div class="simple-drop-down" style="width: 100%">
                                            <select>
                                                <option>Special Features</option>
                                                
                                            </select>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                        
<br/><br/>
                        </div>
                    </div>
                </div>
                
            </div>
            
            </div>
        <div class="clear"></div>

    </div>
        <!-- FOOTER -->
        {sn:global_footer}

        {sn:global_search}
    
        {sn:global_cart}
         
        {sn:global_html-footer}
</body>
</html>
