<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->	
	{sn:global_html-header}

	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

		{sn:global_header}

		{!-- SNIPPET GLOBAL FOOTER --}
		
		<div class="content-push" style="margin-top: 110px;">

            {sn:home_slider}
            {sn:home_featured-panel}
			
			{exp:channel:entries channel="homepage_introduction" limit="1" dynamic="off" disable="categories|category_fields|member_data"}
			<div class="wide-center">
                <div class="information-blocks">
                    <div class="block-header">
                        <h3 class="title" style="color: #006696">{title}</h3>
						<h4 class="sub-title" style="color: #00B7F4; font-size: 18px; margin-bottom: 4px;">{sub_title}</h3>
                        <div class="description">{description_home}</div>
                    </div>
				</div>
			</div>
			{/exp:channel:entries}
			<hr style="max-width: 665px; color: #999999;"></hr>
            <div class="wide-center">
                <div class="information-blocks">
                    <div class="block-header">
                        <h3 class="title">New Arrivals</h3>
                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipisc elit. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</div>
                    </div>
                    <div class="products-swiper">
                        <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="5">
                            <div class="swiper-wrapper">
								{exp:channel:entries channel="products_manual" dynamic="no" limit="5"}
                                <div class="swiper-slide"> 
                                    <div class="paddings-container">
                                        <div class="product-slide-entry">
                                            <div class="product-image">
                                                {product_thumbnails limit="1"}
                                                <img src="{product_thumbnails:image}" alt="{title}" />
												{/product_thumbnails}
                                                <!--<a class="top-line-a left"><i class="fa fa-retweet"></i></a>-->
                                                <!--<a class="top-line-a right"><i class="fa fa-heart"></i></a>-->
                                                <div class="bottom-line">
                                                    <a class="bottom-line-a" href="{site_url}products/{url_title}"><i class="fa fa-shopping-cart"></i> View </a>
                                                </div>
                                            </div>
                                            <a class="title" href="{site_url}products/{url_title}">{title}</a>
                                            <div class="price">
                                                <!--<div class="prev">$199,99</div>-->
                                                <div class="current">from {price}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								{/exp:channel:entries}
							</div>
                            <div class="pagination"></div>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

            <!-- FOOTER -->
            {sn:global_footer}
        </div>

    </div>

    {sn:global_search}

    {sn:global_cart}
         
    {sn:global_html-footer}
	</body>
</html>